<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer id="my-footer" class="footer" th:fragment="footer">
    <div class="text-center">
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/about-us">About us</a></li>
            <li class="list-inline-item"><a href="">Contact</a></li>
            <li class="list-inline-item"><a href="">Address</a></li>

        </ul>
        <ul class="footer-pics list-inline">
            <li class="list-inline-item"><img th:src="@{/img/facebook-logo-button.png}" alt="facebook" height="20" width="20" id="facebook"/></li>
            <li class="list-inline-item"><img th:src="@{/img/instagram-logo.png}" alt="instagram" height="20" width="20" id="instagram"/></li>
            <li class="list-inline-item"><img th:src="@{/img/twitter-logo-button.png}" alt="twitter" height="20" width="20" id="twitter"/></li>
        </ul>
        <ul class="list-inline">
            <li class="list-inline-item">Privacy Policy</li>
            <li class="list-inline-item">Terms of Use</li>
            <li class="list-inline-item">Partners</li>
        </ul>
        <ul class="list-inline">
            <li class="list-inline-item">&copy;Copyright 2017, Thrifty, Inc.
            </li>
        </ul>
        <br/>
    </div>
</footer>
</body>
</html>