<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head th:fragment="main-header(title)">
    <meta charset="UTF-8">
    <title th:text="${'Ads-C137 | ' + title}"></title>
    <link rel='stylesheet' href='css/bootstrap-4.1.0.min.css'/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src=""></script>
    <link href="https://fonts.googleapis.com/css?family=Dosis|Josefin+Sans|Titillium+Web" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>

</body>
</html>